body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color:cornsilk;
    margin: 0;
    padding: 20px;
}

input[type="text"]{
    padding: 20px;
    background-color:aqua;
}

input[type="button"]{
    padding: 0 5px 0 5px;
}

input[type="button"]:hover{
    background-color: brown;
}

label{
    margin: 10px 0px 10px 10px;
}

p{
    background-color:darkgrey;
    padding: 20px;
    border: 1px solid #dddddd00;
    border-radius: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 50px;
    font-weight:bolder;
    color:darkorchid;
}